
.hero{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.hero2{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.main-img{
    margin-top: 100px;
    margin-left: 60%;
    object-fit: cover;
}
.hero-text{
    width: 450px;
    top: 40%;
    left: 28%;
    text-align: left;
    position:absolute;
    transform: translate(-50%, -50%);
}
.hero-text2{
    width: 450px;
    top: 65%;
    left: 28%;
    text-align: left;
    position:absolute;
    transform: translate(-50%, -50%);
}
.hero-text h1{
    font-size: 3rem;
    font-weight: 800;
    background: black;
    background-clip: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.hero-text2 h1{
    font-size: 3rem;
    font-weight: 800;
    background: black;
    background-clip: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.hero-text2 .show{
    text-decoration: none;
    background: #8075ff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
}
.hero-text2 .show:hover{
    background: #000;
    color: white;
}
@media only screen and (max-width:768px){
    .main-img{
        margin-top: 100px;
        margin-left: auto;
        margin-bottom: 24px;
        object-fit: cover;
    }
    .hero-text{
        width: 300px;
        text-align: center;
        font-weight: 10px;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 2px;
    }
    .hero-text2{
        width: 300px;
        text-align: center;
        font-weight: 10px;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
    .hero-text h1{
        font-size:2rem;
        font-weight: 800;
        background: black;
        background-clip: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .hero-text2 h1{
        font-size: 2rem;
        font-weight: 800;
        background: black;
        background-clip: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .hero-text2 .show{
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
    }
    .hero-text2 .show:hover{
        background: #000;
        color: white;
    }
}